<div class="wrapper wrapper-content animated fadeInRight">
  <div id="clock_event_form">
    <%= render 'search' %>
  </div>
  </br>
  <div id="clock_event_list_form">
    <%= render 'report_list' %>
  </div>
</div>
