<div class="footer">
  <div class="pull-right">
      <strong>&copy; 2019 HiMaMa Code Challenge. ALL RIGHTS RESERVED. <%= APP_VERSION if ENV['RAILS_ENV'] != 'development'%></strong>
  </div>
</div>
