<div class="row">
  <div class="sidebar">
     <div class="list-group">
        <%= link_to 'Clock Event Tracker', clock_events_path, :class => "list-group-item" %>
        <% if current_user.user_role == 1 %>
          <%= link_to 'Report', report_path, :class => "list-group-item" %>
          <%= link_to 'User Management', users_path, :class => "list-group-item" %>
        <% end %>
     </div>
  </div>
</div>
